body{
    background-color: black;
}
#div1{
    width: 400px;
    height: 90px;
    background-color: red;
    border: solid 5px;
    border-radius: 5px;
    border-color: yellow;
    border
}
#table{
    border-color: black;
    width: 399px;
    height: 91px;
    text-align: center;
    font-size: 30px;
}
#div2{
    width: 400px;
    height: 90px;
    border: solid 5px;
    border-radius: 5px;
    border-color: yellow;
    background-color: red;
    position: absolute;
    top: 120px;
    text-align: center;
}
#txt1{
    font-size: 30px;
}